<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-firestore.js"></script>
    <script src="firebase.js"></script>
    <script src="lib.js"></script>
  </head>
  <body>
    <div id="app">
      <section class="section">
        <div class="box">
          <h1 class="title">マップ</h1>
          <b-field>
            <b-select @input="changeMap($event)">
              <option v-for="map in battlemaps.list" :value="map.filename">
                {{ map.name }}
              </option>
            </b-select>
          </b-field>
        </div>
        <div class="box">
          <h1 class="title">モンスター</h1>
          <b-field grouped>
            <b-numberinput v-model="num"></b-numberinput>
            <div class="control">
              <button class="button is-info" @click="reset">更新</button>
            </div>
          </b-field>
          <div class="list">
            <div class="list-item" v-for="monster in monsters">
              <div class="columns">
                <div class="column">
                  <b-checkbox v-model="monster.visible" @input="toggle(monster)">
                    {{ monster.type }}
                    {{ monster.name }}
                  </b-checkbox>
                </div>
                <div class="column">
                  hp {{ monster.hp - monster.damage }} / {{ monster.hp }}
                </div>
                <div class="column is-half">
                  <b-field>
                    <p class="control">
                      <button class="button" @click="monster.hit -= 10">-10</button>
                    </p>
                    <p class="control">
                      <button class="button" @click="monster.hit -= 1">-1</button>
                    </p>
                    <p class="control">
                      <button class="button" @click="monster.hit += 1">+1</button>
                    </p>
                    <p class="control">
                      <button class="button" @click="monster.hit += 10">+10</button>
                    </p>
                    <b-input type="number" placeholder="ダメージ" v-model="monster.hit"></b-input>
                    <p class="control">
                      <button class="button is-info" @click="hit(monster)">ダメージ</button>
                    </p>
                  </b-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <h1 class="title">プレイヤー</h1>
          <b-field grouped>
            <b-numberinput v-model="pnum"></b-numberinput>
            <div class="control">
              <button class="button is-info" @click="preset">更新</button>
            </div>
          </b-field>
          <div class="list">
            <div class="list-item" v-for="player in players">
              <b-checkbox v-model="player.visible" @input="toggle(player)">
                {{ player.type }}
                {{ player.name }}
              </b-checkbox>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          units: [],
          battlemaps: new Battlemap(),
          filename: 'map001.png',
          num: 4,
          pnum: 4,
        },
        computed: {
          monsters() {
            return this.units
              .filter((unit) => unit.type === 'MONSTER')
              .sort((a, b) => a.index > b.index ? 1 : -1);
          },
          players() {
            return this.units
              .filter((unit) => unit.type === 'PC')
              .sort((a, b) => a.index > b.index ? 1 : -1);
          }
        },
        methods: {
          hit(monster) {
            const damage = monster.damage + monster.hit;
            monster.hit = 0;
            db.collection('units').doc(monster.key).update({damage});
          },
          toggle(unit) {
            db.collection('units').doc(unit.key).update({
              visible: unit.visible,
            })
            .catch((err) => {
              alert(err);
            });
          },
          changeMap(filename) {
            db.collection('battlemaps').doc('selected').update({filename});
          },
          reset() {
            let pos = [];
            while (pos.length < this.num) {
              const x = Math.floor(Math.random() * 11);
              const y = Math.floor(15 + 2 * Math.log(1 - Math.random()));
              if (pos.every(p => p.x !== x || p.y !== y)) {
                pos.push({x, y});
              }
            }
            pos = pos.sort((a, b) => a.y * 11 + a.x > b.y * 11 + b.x ? 1 : -1);
            let i = 0;

            for (const monster of this.monsters) {
              if (i < this.num) {
                const x = pos[i].x;
                const y = pos[i].y;
                const visible = true;
                const damage = 0;
                i++;
                db.collection('units').doc(monster.key).update({x, y, visible, damage});
              } else {
                const visible = false;
                db.collection('units').doc(monster.key).update({visible});
              }
            }
          },
          preset() {
            let pos = [];
            while (pos.length < this.pnum) {
              const x = 3 + Math.floor(Math.random() * 5);
              const y = Math.floor(-Math.log(1 - Math.random()));
              if (pos.every(p => p.x !== x || p.y !== y)) {
                pos.push({x, y});
              }
            }
            pos = pos.sort((a, b) => a.y * 11 + a.x > b.y * 11 + b.x ? 1 : -1);
            let i = 0;
            for (const player of this.players) {
              if (i < this.pnum) {
                const x = pos[i].x;
                const y = pos[i].y;
                const visible = true;
                i++;
                db.collection('units').doc(player.key).update({x, y, visible});
              } else {
                const visible = false;
                db.collection('units').doc(player.key).update({visible});
              }
            }
          },
        },
        created() {
          db.collection('units').onSnapshot((snapshot) => {
            snapshot.docChanges().forEach((change) => {
              const key = change.doc.id;
              const data = change.doc.data();
              if (change.type === 'added') {
                let {type, visible, x, y, name, hp, damage, index} = data;
                const hit = 0;
                this.units.push({key, type, visible, x, y, name, hp, damage, index, hit});
              } else if (change.type === 'modified') {
                let {visible, x, y, damage} = data;
                const unit = this.units.find((unit) => unit.key === key);
                Object.assign(unit, {visible, x, y, damage});
              }
            });
          });
        },
      });
    </script>
  </body>
</html>
